/*--------------------------------------------------------------
#. Normalize
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

html {
	font-family: 'Poppins', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

section {
	padding: 60px 0px 50px;
}
.page-content{
	padding: 30px 0px 0px;
}
article,
aside,

details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

svg {
	width: 16px;
	height: 15px;
	vertical-align: middle;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	/*border: 1px solid #c0c0c0;*/
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

tr {
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
}

table caption {
	background-color: transparent;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	padding: 1em;
	text-align: center;
	text-transform: uppercase;
}

table th a {
	color: #000;
}
.bg-colored{
	background-color: #f5f5f5;
}

/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	color: #666;
	font-size: 14px;
	line-height: 1.6;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	
	font-weight: 300;
	color: #4d4d4d;
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px 0;
	color: #000;
	font-weight: 600;
	line-height: 1.4;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 0 0 15px 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0;
	padding: 30px 5px 5px 0px;
}

blockquote p {
	margin: 0 0 1em;
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #f7f7f7;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {

	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	word-wrap: break-word;
}

hr {
	background-color: #ddd;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

ul,
ol {
	margin: 0 0 0.5em 1em;
	padding: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: 100%; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
	
}

figure {
	margin: 1em 0;	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	table-layout: fixed;
	border: 1px solid #e5e5e5;
}

td,
th {
	padding: 5px 10px;
}
.fixed{
	position: fixed;
	width: 100%;
	z-index: 999;
}

/*--------------------------------------------------------------
#Forms
--------------------------------------------------------------*/

/*button, a.button, input[type="button"], input[type="reset"], input[type="submit"] {
display: inline-block;
font-size: 16px;
margin: 10px;
padding: 10px 30px;
color: #ffffff;
border-radius: 0px;
background:#246A55;
border: none;
}*/

a.button {
	min-width: 150px;
}

/*button:hover,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
background:transparent;
border: 1px solid #ffc341;
color: white;
}*/
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="number"] {
	outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
select {
	color: #666;
	border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"],
input[type="date"],
input[type="time"],
textarea:focus {
	color: #111;
	outline: none;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="url"],
input[type="varchar"],
input[type="password"],
input[type="search"],
input[type="number"] {
	padding: 10px 0 10px 15px;
}

input[type="search"] {
	padding: 12px 0px 8px 15px;
}

select {
	width: 100%;
	padding: 5px;
}

textarea {
	padding: 10px;
	width: 100%;
}

.form-submit input#submit {
	margin: 20px 0 10px 0;
}

.form-submit {
	text-align: center;
}

p {
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1.4;
}

/*input[type="submit"] {*/

/*width: 100%;*/

/*}*/

/*--------------------------------------------------------------
#. Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#.#. Links
--------------------------------------------------------------*/

a {
	color: white;
	outline: none;
	text-decoration: underline;
}

a:visited {
	color: white;
}

a:hover,
a:focus,
a:active {
	color: white;
	text-decoration: none;
}

a:focus {
	outline: inherit;
}

a:hover,
a:active {
	outline: 0;
}

a.more-link {
	margin-top: 10px;
	display: inline-block;
	padding: 7px 13px;
	background: #13a1c5;
	color: #fff;
	position: relative;
	z-index: 0;
	font-size: 16px;
	font-weight: 500;
}

a.more-link:hover {
	background: #000;
}

/*----reset---*/
.clear {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	clear: both;
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.container:before,
.container:after {
	display: table;
	content: "";
}

.container:after {
	clear: both;
}

.section-content {
	padding: 0px 12px;
}

p {
	font-family: 'Poppins', sans-serif;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
	background-color: transparent;
}

input[type="date"]:focus,
input[type="date"]:hover {
	color: white;
	background-color: transparent;
}

a {
	text-decoration: none;
}

/*img {
	width: 100%;
	height: 100%;
}*/

.no-padding {
	padding: 0;
}
/*image*/
.item-image-holder{
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-bottom: 80%;
	margin-bottom: 20px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.item-image-holder img{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;

}
/*bread-crumb*/
/*----------------------
breadcrumb
----------------------*/
#breadcrumb-list {
	position: relative;
	z-index: 1;
}
.sc-breadcrumb-holder{
	text-align: right;
}
.sc-breadcrumb-holder .breadcrumbs ul {
	margin-left: 0px;
}

.breadcrumb-trail.breadcrumbs ul li {
	display: inline-block;
	color: #32a852;
	font-size: 14px;
}

.breadcrumb-trail.breadcrumbs ul li a {
	color: #32a852;
	padding-right: 5px;
}

.breadcrumb-trail.breadcrumbs ul li a:after {
	content: "/";
	padding-left: 5px;
}

.breadcrumb-trail.breadcrumbs ul li a:after {
	content: "/";
	padding-left: 5px;
}

.breadcrumb-trail.breadcrumbs ul  .trail-end {
	color: #fff;
}

/*header*/
.header__content{
	display: flex;
	align-items: center;
}
.header-wrap {
    min-height: 95px;
}
.sc-banner-slider{
	height: 80vh;
	overflow: hidden;
}
.banner-slider-single{
	position: relative;
	height: 100vh;
}

.header__content-wrap{
	transition: all 0.3s linear;
	background-color: #fff;
}
/* .logo a {
    display: block;
    color: #fff;
    font-family: 'Kaushan Script';
    font-size: 1.267em;
}



.logo img{
	max-height: 95px;
    max-width: 300px;
} */
.logo {
    float: left;
    width: 30%;
    margin-right: 20px;
}
.site-branding.header-logo.logo-inner{
	opacity: 1 !important;
	margin-top: 0!important;
	padding:0;
}
.site-logo{
	text-align: center;
	padding: 25px 0px;
	transition: all 0.4s linear;
}
.site-logo img{
	width: 85%;
}
/* .site-branding{
	padding: 10px 0px;
	
} */

.margin-auto{
	margin: 0 auto!important;
	display: block;
}
.menu-container {
    width: 65%;
    float: right;
}
.main-navigation{
	float: right;
}
.main-navigation ul {
  /*display: block;*/
  margin: 0;
  padding: 0;
}

.main-navigation ul ul {

  display: block;
  
  margin: 0;
  min-width: 250px;


}



.d-flex{
	display: flex;
}
.main-navigation ul ul ul {
  right: 100%;
  top: 0;
  /*box-shadow: 0px 0px 4px 2px #ddd;*/
  left: inherit;
}
.main-navigation ul ul ul::after{
  content:none;
}
.main-navigation li {
  position: relative;
  display: inline-block;
  margin-bottom:0;
  float: left;
  transition: 0.4s all linear;
}

.main-navigation ul > li:hover > ul {
  left: 0;
  z-index: 9999;
  opacity: 1;
  /*visibility: visible;*/
  display: block;
  -moz-animation: fadeInUp 0.3s ease-in;
  -webkit-animation: fadeInUp 0.3s ease-in;
  animation: fadeInUp 0.3s ease-in;
}
.main-navigation li:hover{
	background-color: #32a852;
}

.main-navigation li:hover a{
	color: white;
}
.main-navigation ul ul ul ul  {
  display: none;
}

.main-navigation ul ul ul li:hover > ul {
  display: block;
}

.main-navigation ul ul li:hover > ul {
  /*opacity: 1;*/
  right: 100%;
  /*left: auto;*/
}



.main-navigation li li {
  float: none;
  display: block;
}

.main-navigation ul li li:first-child > a {
  border-left: none;
}

.main-navigation ul li a {
  color:#32a852 ;
  display: block;
  font-size: 16px;
  font-weight: normal;
  padding: 35px 25px;
  z-index: 99;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform:capitalize;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}




.main-navigation ul .sub-menu-holder ul.sub-menu li a {
  border-bottom: 1px solid #f1f1ee;
  transition: padding 0.2s ease-in-out 0s;
  color: #32a852;
  line-height: 2;
  height: auto;
  padding: 15px 15px 15px 15px;
  text-align: left;
  font-size: 15px;
 
}
.main-navigation ul .sub-menu-holder ul.sub-menu li:hover a{
	color: white;
}

.main-navigation ul li.menu-item-has-childrenv > a,
.main-navigation ul li.page_item_has_children > a {
  padding-right: 30px;
}


.main-navigation li li.current-menu-item > a::before,
.main-navigation li li > a:hover::before,
.main-navigation li.current_page_item > a::before,
.main-navigation li li:hover > a::before {
  display: none;
}
.menu-mobile,
.main-navigation .menu-toggle {
  display: none;
}
.menu-item-has-children button.dropdown-toggle {
    position: absolute;
    top: 38%;
    right: -2px;
    border: none;
    color: #32a852;
    background-color: transparent;
}
.menu-item-has-children button.dropdown-toggle .fa{
	font-size: 10px;
}

.sub-menu-holder{
	position: absolute;
    min-width: 650px;
    display: flex;
    background-color: #fff;
    top: 90%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
	transition: all 0.3s linear;
	padding: 20px;
	border-top: 0;
	border: 1px solid #ddd;
	right: 0;
}
.main-navigation li:hover .sub-menu-holder	{
	opacity: 1;
	top: 99%;
	visibility: visible;
	z-index: 99;
}
.sub-menu-holder ul h3{
	position: relative;
}
.sub-menu-holder ul h3::after{
	content: "";
    position: absolute;
    width: 85px;
    height: 2px;
    background-color: #32a852;
    right: 35%;
    bottom: -35%;
}
/*banner-section*/


.banner-overlay {
 	position: absolute;
    background-image:linear-gradient(90deg, #32a852, transparent);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    left: 0;
    /* opacity: 0.2; */
    text-align: center;
    align-items: center;
}
.overlay{
	position: absolute;
    background-color:  #32a852;
    width: 100%;
    height: 100%;
	top: 0;
	opacity: 0.5	;
    display: flex;
    left: 0;
    /* opacity: 0.2; */
    text-align: center;
    align-items: center;
}
.black-overlay{
	position: absolute;
    background-color:  #000;
    width: 100%;
    height: 100%;
	top: 0;
	opacity: 0.5	;
    display: flex;
    left: 0;
    /* opacity: 0.2; */
    text-align: center;
    align-items: center;
}
.title-holder{
	margin-bottom: 20px;
}
.text-single{
	color: #4d4d4d;
	margin-bottom: 0;
}
.banner-title{
	width: 50%;
}
.banner-text{
	width: 100%;
	text-align: left;
}
.banner-text h1,
.banner-text h5{
	color: white;
	text-transform: capitalize;
}
.sc-button{
	background-color:#32a852;
	color: white;
	height: 45px;
    line-height: 45px;
    padding: 0 30px;
    color: #fff;
    font-size: 1.067em;
 
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
	white-space: nowrap;
	position: relative;
}
.sc-button.tour-button{
	background-color: white;
	color: #32a852;
}
.sc-button.tour-button::before{
	background-color: #32a852;
}
.sc-button::before{
	content: "";
	background-color: #fff;
	position: absolute;
	width: 8px ;
	height: 45px;
	left: 0px;
	top: 0;	
	transition: all 0.3s linear;
}
.sc-button:hover:before{
	left: 100%;
}
.banner-slider-single.slick-slide.slick-current.slick-active .banner-overlay .banner-text .container .banner-title h1{
	animation:  fadeInLeft 1s 1;
	
}
.banner-slider-single.slick-slide.slick-current.slick-active .banner-overlay .banner-text .container .banner-title h5{
	animation:  fadeInRight 1s 1;
}
.banner-slider-single.slick-slide .banner-overlay .banner-text .container .banner-title h1{
	animation: fadeOutDown 1s 1;
}
.banner-slider-single.slick-slide .banner-overlay .banner-text .container .banner-title h5{
	animation: fadeOutDown 1s 1;
}
.banner-slider-single.slick-slide.slick-current.slick-active .banner-overlay .banner-text .tour-button{
	animation:  fadeInUp 1s 1;
}
.banner-slider-single.slick-slide .banner-overlay .banner-text .tour-button{
	animation:  fadeOutUp 1s 1;
}
.feature-holder{
	padding: 40px;
}
.feature-single .icon-holder.item-image-holder{
    width: 35%;
    margin: 0 auto;
	padding-bottom: 35%;
	margin-bottom: 30px;
}
.feature-single h4{
	color: #b5b2b2;
	text-align: center;
}
.feature-holder{
	z-index: 99;
	
}
.admission-content{
	display: flex;
	align-items: center;
}
.admission-image,
.admission-text{
	width: 50%;
	

	
}
.admission-text{
	padding:0px 30px;
}
.admission-holder{
	box-shadow:2px 35px 20px 14px #e5e5e5;

}
.admission-image .item-image-holder{
	margin-bottom: 0px;
}
.feature-admission-holder{
	border-radius: 10px;
    margin-top: -70px;
    background-color: white;
    /* z-index: 99999999999; */
    position: relative;
}

.section-title{
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
	
}
.section-title h2{
	margin-bottom: 10px;
	text-transform: capitalize;
}
.section-title h5{
	color: #c5c5c5;
	text-transform: capitalize;
}
.section-title ::after{	
    content: "";
    position: absolute;
    width: 85px;
    height: 2px;
    background-color:#32a852 ;
    right: 0%;
    bottom: 12%;

}
.text-white {
	color: white!important;
}
.text-white h2{
	color: white;
}
.text-white h5{
	color: #4d4d4d;
}
.section-title.text-white ::after{
	background-color:white;
}
.noticeboard-wrapper{
	background-image: url(../images/banner2.jpg);
	background-position: top;
	background-size: cover;
	position: relative;
	height: 50vh;
	display: flex;
	align-items: center;
}
.notice-single{
	text-align: center;
}
.notice-single:focus{
	outline: none;
	border: none;
}
.notice-single .title-holder h2{
	color: white;
	color: white;
    background-color: #32a852db;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
}

.notice-single .notice-content p{
	color: #fff; 
	font-size: 20px;
	font-weight: 600;
}
.notice-slider .slick-prev{
	left: -40px;
}
.notice-slider .slick-prev:before{
	content:"\f053";
	font-family: fontawesome;
	font-size: 50px;
}
.notice-slider .slick-prev:before{
	content: "";
    background: url(../images/leftarrow.svg);
    display: inline-block;
    height: 40px;
    background-size: cover;
    width: 40px;
    margin-right: 5px;
    opacity: 1;
}
.notice-slider .slick-next:before{
	content: "";
    background: url(../images/rightarrow.svg);
    display: inline-block;
    height: 40px;
    background-size: cover;
    width: 40px;
    margin-right: 5px;
    opacity: 1;
}
.subject-single {
    width: 32.4%;
    padding: 0px 15px;
	margin-bottom: 10px;
}
.sc-subject-filtre-button{
	margin-bottom: 20px;
}
.calender-content{
	display: flex;
	align-items: center;
}
.events-holder{
	background-color: #32a852;
}
.calender-title h4{
	font-size: 28px;
}
.calender-text .section-text p{
	font-weight: 500;
}
.calender-month-slider .month{
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	padding:20px 0px;
	border-bottom: 2px solid #fff;
}
.calender-month-slider .slick-prev,
.calender-month-slider .slick-next{
	z-index: 99;
	top: 40%;
}
.calender-month-slider .slick-prev{
	left: 20%;
}
.calender-month-slider .slick-next{
	right: 20%;
}
.calender-month-slider .slick-prev:before{
	    content: "";
    background: url(../images/leftarrow.svg);
    display: inline-block;
    height: 30px;
    background-size: cover;
    width: 30px;
    margin-right: 5px;
    opacity: 1;

} 
.calender-month-slider .slick-next:before{
    content: "";
    background: url(../images/rightarrow.svg);
    display: inline-block;
    height: 30px;
    background-size: cover;
    width: 30px;
    margin-right: 5px;
	opacity: 1;
} 
.event-single{
	background-color: #f5f5ff;
	padding: 10px 0px;
}

.event-single-whole{
	background-color: #32a852;

}
.event-single{
	display: flex;
	align-items: center;
	border-left: 2px solid #32a852;
	cursor: pointer;
	transition: all 0.3s linear;
	border: 2px solid #32a852;
}
.event-single:hover{
	border-left: 6px solid #fff;
	background-color: #32a852;
}

.event-single span{
	width: 20%;
	font-size: 30px;
	display: block;
	text-align: center;
	color: #32a852;
}
.event-content h3{ 
	margin-bottom: 5px;
}
.event-content h3,
.event-content p{
	text-transform: uppercase;
	color: #32a852;
}
.event-single-whole ul{
	list-style: none;
}
.event-content p{
	font-weight: 500;
	
}
.event-single:hover   span,
.event-single:hover .event-content h3,
.event-single:hover  .event-content p{
	color: #fff;
}

.news-image{
	margin-bottom: 0;
}
.newswhole-wrapper{
	border-left: 2px solid #ddd;
}
.single-news-wrapper{
	margin-bottom: 20px;
}
.single-news-wrapper .news-text .news-title h2 a {
    color: #54555E;
    -webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.news-title h2 {
	font-size: 18px;
	color: #4d4d4d;
}
.news-title h2 a{
	color: #4d4d4d;
}
.small-item .news-text .news-title h2 {
	font-size: 14px;
	margin-bottom: 5px;;
}

.entry-style, .single-news-wrapper .entry-container {
	color: #83858F;
	text-transform: uppercase;
  }
  
  .entry-style span, .single-news-wrapper .entry-container span {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #83858F;
  }
  
  .entry-style span a, .single-news-wrapper .entry-container span a {
	color: #32a852;
  }
  .testimonial-single{
	  background-color :#32a852;
	  display: flex;
	  align-items: center;
  }
  .testimonial-single .item-image-holder{
	width: 40%;
	float: left;
	padding-bottom:  40%;
	margin-bottom: 0;
	animation: fadeOut 1s both;
	background-color :#32a8529c;
}
.testimonial-single.slick-active .item-image-holder{
	animation: fadeInLeft 1s both 0.2s;
}
.testimonial-single .testimonial-text{
	width: 60%;
	padding: 120px 50px 50px;
	display: inline-block;
	animation: fadeOut 1s both;
	background-color :#32a852;
	
}
.testimonial-single.slick-active  .testimonial-text {
	animation: fadeInRight 1s both 0.2s;
}
.testimonial-single .testimonial-text p{
	font-size:20px;
	color: white;
	
}
.testimonial-slider .slick-prev,
.testimonial-slider .slick-next{
 	top: 85%;
 	z-index: 99;
}
.testimonial-single .testimonial-text .testimonial-name p{
	font-size: 	14px;
}
.testimonial-slider .slick-prev{
	left: 45%;
}
.testimonial-slider .slick-next{
	right: 50%;
}
.testimonial-slider .slick-prev:before{
	content: "\f053";
	font-family: fontawesome;
	color: white;
	opacity: 1;
	font-size: 30px;
}
.testimonial-slider .slick-next:before{
	content: "\f054";
	font-family: fontawesome;
	color: white;
	opacity: 1;
	font-size: 30px;
}

.site-footer {
    padding: 8em 0 10px;
    background: #333;
}
.site-footer .footer-heading {
    font-size: 20px;
    color: #fff;
}
.site-footer a {
    color: #fff;
}
.site-footer a:hover {
    color: #fff;
}
.site-footer p {
    color: #fff;
    font-size: 16px;
}
.newsletter-form .input-group .form-control{
	background-color: transparent;
	border: 1px solid #ddd;
	border-radius: 0;
	height: 40px;
	width: 80%;
}

.input-group{
	display: block;
}
.input-group-append button{
	border-radius: 0;
	background-color:#32a852; 
	height:40px;
	border: 1px solid #32a852;
}

.social-copyright-wrapper{
	padding-top:30px;
	margin-top: 30px;
}
 .social-copyright-wrapper{
 	padding-top: 40px;
 	margin-top: 40px;
 }
  .social-link{
  	margin-bottom: 30px;
  }
 .social-link a{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #999;
    line-height: 2;
 }

 .footer-logo img{
	 width: 100%;
	 margin-bottom: 20px;
 }

 /* about-page */

 .sub-page-banner{
	height: 70vh;
	background-position: center;
	background-size: cover;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	
 }
 .about-banner{
	 background-image: url(../images/banner.jpg);
 }
 .sub-page-title{
	 position: relative;
	 width: 100%;
	 display: flex;
	 align-items: center;
 }
/* .section-text{
	width: 50%;
} */
.sub-page-banner-text{
	width: 50%;
}
.banner-text .content-title h1{
	 color: white;
 }
 .banner-text .content-title h5{
	 color: #32a852; 
 }
 .banner-text .content-title{
	 color: white	;
 }
 .about-feature{
	 position: relative;
	 
	 background-image: url(../images/banner2.jpg);
	 background-size: cover;
	 background-attachment: fixed;
 }
 .message-single{
	 box-shadow: 2px 2px 10px 2px #ddd;
	 margin-bottom: 30px;
	 background-color: #f5f5f5;
 }
 .message-single .item-image-holder{
	 width: 30%;
	 float: left;
	 padding-bottom: 30%;
	 margin-right: 30px;
	 margin-bottom: 0;
	 border-right: 5px solid #32a852; 
	 border-left: 5px solid #32a852; 
 }
 .message-single:nth-child(2) .item-image-holder{
	 float: right;
	 margin-right: 0;
	 margin-left: 20px;
	
 }
 .message-single .section-text{
	 padding: 20px;
 }
 .message-single .section-text p{
	font-style: italic;
 }
 .message-single .section-title{
	margin-bottom: 10px;
 }

 .faq-content .panel-group .panel .panel-heading{
	background-color:#32a852 ;
	border: 2px solid #32a852; 
	padding: 20px 25px;
 }
 .faq-content .panel-group .panel .panel-heading h4{
	 color: #fff;
 }
 .panel-title a:after {
    font-family:Fontawesome;
    content:'\f077';
    float:right;
    font-size:10px;
    font-weight:300;
}
.panel-title a.collapsed:after {
    font-family:Fontawesome;
    content:'\f078';
}
.course-banner{
	background-image: url(../images/banner1.jpg);
}
.subject-inner-single{
	float: left;
	margin-bottom: 20px;
	padding: 20px;
}
.course-wrapper{
	margin-bottom: 40px;
}
.course-primary .course-image{
	padding-bottom: 60%;
}
.department-breif-wrapper{
	background-color: #f5f5f5;
	padding:30px;
}
.subject-list ul{
	list-style: none;
}
.subject-list li{
	position: relative;
	padding-left: 25px;
	font-weight: 400;
}
.subject-list li:before{
	content: "\f044";
	font-family: fontawesome;
	left: 0;
	font-size: 18px;
	position: absolute;
	line-height: 2;
	color: #32a852;
}
.department-breif-wrapper .section-title{
	margin-bottom: 10px;
}
ul.department-brief-wrapper{
	list-style: none;
	margin-bottom: 10px;
}
ul.department-brief-wrapper li{
	line-height: 3;
}
ul.department-brief-wrapper li span{
	font-weight: 600;
	color: #32a852;
	padding-right: 20px;
}
.class-time span{
	display: block;
	font-weight: 500;
	font-size: 20px;
	margin-left: 10px;
}
.subject-tab-content{
	box-shadow: 2px 2px 10px 2px #DDD;
	padding: 30px;
}
.subject-table thead{
	background-color: #32a852;

}
.subject-table thead tr td{
	color: white;
	font-size: 20px;
	font-weight: 600;
	height: 40px;
}
.subject-list-wrapper ul.nav-tabs li a:hover{
	color: white;
	background-color:#32a852 ;
}
.subject-list-wrapper ul.nav-tabs li{
	margin: 0 5px;

}
.subject-list-wrapper ul.nav-tabs li.active{
	box-shadow: 2px 2px 10px 2px #ddd;
}
.contact-full {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	flex-direction: row-reverse;
  }
  
  .contact-text {
	background-color: #32a852;
	width: 50%;
	float: left;
	z-index: 9;
	
	position: relative;
	padding:30px;
  }


  .contact-form{
	  padding:30px;
	  border: 1px solid #ddd;
  }
  .contact-form form input[type=text]{
	  width: 100%;
	  margin-bottom: 20px;
  }
  .contact-text  ul li .fa{
	  padding-right: 10px;
  }
  .contact-text  ul li {
	  line-height: 2;
  }
  .map-holder iframe{
	  width: 100%;
  }